/dumpfloppy
/tests/run_tests
*.o
*.d
/html/
/latex/
/tags
gmon.out
profile.txt
/build/
*.img
*.ima
*.mfm
*.86f
*.d64
*.d71
*.d81
*.adf
*.g64
*.trd
*.ipf
*.woz
*.stx
*.2mg
*.dsk
*.po
*.exe
*.prg
.cache/
compile_commands.json
